/*----- credit https://codepen.io/krnlde/pen/XpqZNY ---*/
.nav-tabs {
    position: relative;

    >li {
        >a {

            &:hover,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }

        // Reset Bootstrap Nav styles
        &,
        &.active {

            >a,
            >a:hover,
            >a:focus,
            >a:active {
                border: none;
                background: none;
            }
        }

    }

    .nav-underline {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0px;
        height: 2px;
        background: red;
        will-change: left, width;
        transition: left .2s,
            width .2s;
    }
}