{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <h1 class="display-3 title-class">Welcome to the Wolf Pit</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card bg-light text-dark">
                    <h3 class="card-title title-class">Barbell Shop</h3>
                      <p class="card-text title-class">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary nav-button">Go somewhere</a>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card bg-light text-dark">
                    <h3 class="card-title title-class">Card title</h3>
                      <p class="card-text title-class">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary nav-button">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}