{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100" style="background-color: rgba(0,0,0,0.50);">
        <div class="row">
            <div class="col my-auto">
                <h1 class="display-3 title-class text-white">Welcome to the Wolf Pit</h1>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12 col-md-6 my-auto" style="padding-top: 3rem;">
                    <h3 class="card-title title-class text-white">Barbell Shop</h3>
                    <h5 class="card-text text-white">From legging sets to weightlifting sets, we've got you covered. Checkout the Barbell Shop</h5>
                    <a href="{% url 'products' %}" class="btn btn-primary nav-button">Shop Now</a>
                </div>
                <div class="col-12 col-md-6 my-auto" style="padding-top: 3rem;" >
                    <h3 class="card-title title-class text-white">Barbell Training</h3>
                    <h5 class="card-text text-white">Book 121 PT sessions, or check out our classes</h5>
                    <a href="{% url 'products' %}" class="btn btn-primary nav-button">More Info</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- adding scroll button js here-->
{% endblock %}