<script type="text/javascript">
    // Back to top button functionality - Credit https://mdbootstrap.com/docs/standard/extended/back-to-top/
    let mybutton = document.getElementById("btn-to-top");

    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 200 ||
            document.documentElement.scrollTop > 200
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    mybutton.addEventListener("click", scrollToTop);

    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
</script>