{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- Title -->
<div class="overlay-products"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3 py-3">
      <h2 class="title-class">Barbell Classes</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <img src="{{ MEDIA_URL }}gav_1.jpg" class="img-fluid rounded mx-auto d-block" alt="barbell gear instagram"
        style="object-fit: fill;">
    </div>
    <div class="col-12 col-sm-8">
      <h3>Barbell Boss</h3>
      <h4><strong>Price per block: £180</strong></h4>
      <p>Barbell Boss - Our brand new transformation block to get you in the best shape. In this 8 week block you'll
        be provided a nutrition program tailored to your needs, combined with a workout regime that targets those key
        muscle groups for building a lean aesthetic. This program gives you:

        . Nutritional Support - Daily calories and macros
        . 8 Week Workout Program - 2 days a week with class, 1 individual
        . Access to your Barbell Boss community - for support and accountability</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 col-sm-8">
      <h3>Barbell Graft</h3>
      <h4><strong>Price per block: £180</strong></h4>
      <p>Barbell Graft - A HIIT/Weight class hybrid for those who want to train, feel and look like a beast. Guaranteed
        to get a sweat on and muscles burning. Calories get torched and muscles get smashed. You get out what you put
        in. Suitable for all levels of experience. All we ask is you “Just Show Up”.
        With this block you'll get:

        . Support with tracking calories and macros
        . 4 high intensity bootcamp style classes a week</p>
    </div>
    <div class="col-12 col-sm-4">
      <img src="{{ MEDIA_URL }}bb_beast_2_AAt1wLn.jpg" class="img-fluid rounded mx-auto d-block" alt="barbell gear instagram"
        style="object-fit: fill;">
    </div>
  </div>
</div>

{% endblock %}