{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <!-- Title -->
  <div class="overlay-products"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3 py-3">
        <h2 class="title-class">Personal Training</h2>
        <hr class="w-50 mb-1">
      </div>
    </div>
  </div>

  {% for p in pt %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 py-2 mx-auto">
          {% if p.image %}
            <img src="{{ p.image.url }}" class="img-fluid rounded mx-auto d-block" alt="Personal trainer logo"
              style="object-fit: fill; max-height: 400px; width: 100%;">
          {% else %}
            <img src="{{ MEDIA_URL }}bb_logo2.png" class="img-fluid rounded mx-auto d-block" alt="barbell logo"
              style="object-fit: fill; max-height: 300px; width: 100%;">
          {% endif %}
          {% if request.user.is_superuser %}
            <h5 class="ml-3">
              <a href="{% url 'edit_pt' p.id %}">Edit</a> |
              <a class="text-danger" href="{% url 'delete_pt' p.id %}">Delete</a>
            </h5>
          {% endif %}
          <h3>Name: {{ p.name }}</h3>
          <h4 class="py-3">Qualifications:</h4>{{ p.qualifications|linebreaks }}
        </div>
        <div class="col-12 col-sm-8 py-2 mx-auto">
          <h4 class="py-4">{{ p.description }}</h4>
          <h4><strong>Price per session: £{{ p.price_per_session }}</strong></h4>
          {% if p.price_per_block_4 %}
            <h4><strong>Price per 4 week block: £{{ p.price_per_block_4 }}</strong></h4>
          {% endif %}
          {% if p.price_per_block_8 %}
            <h4><strong>Price 8 week block: £{{ p.price_per_block_8 }}</strong></h4>
          {% endif %}
          {% if p.price_per_block_12 %}
            <h4><strong>Price per 12 week block: £{{ p.price_per_block_12 }}</strong></h4>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-3">
          <h5 class="title-class">want to sign up? find out how to get in touch below</h5>
          <a href="{% url 'contact_us' %}" class="btn btn-black rounded-0 mb-5">
            <span class="text-uppercase">get in touch</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
  <a class="btn btn-primary btn-dark" id="btn-to-top" href="#top" role="button">
    <i class="fas fa-chevron-up"></i>
  </a>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}