<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="title-class font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="title-class font-weight-bold nav-link text-black mr-5" href="#" id="product-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barbell Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-link">
                <a href="{% url 'products' %}?category=tshirts" class="dropdown-item">T-shirts</a>
                <a href="{% url 'products' %}?category=sweatshirts" class="dropdown-item">Sweatshirts</a>
                <a href="{% url 'products' %}?category=legging_sets" class="dropdown-item">Legging Sets</a>
                <a href="{% url 'products' %}?category=belts" class="dropdown-item">Weightlifting Belts</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class=" title-class logo-font font-weight-bold nav-link text-black mr-5" href="#" id="training-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barbell Training
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="training-link">
                <a href="{% url 'classes' %}" class="dropdown-item">Barbell Classes</a>
                <a href="" class="dropdown-item">Personal Training</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="title-class logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact_us' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>