{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay-products"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="title-class mb-2">Contact Us</h2>
                <hr>
            </div>
        </div>

    <section class="container-fluid pb-3">
        <div class="row">
            <div class="col">
                <h5 class="title-class mb-5">If you're interested in any of our products or services, please drop us
                    a direct message to any of the platforms below</h5>
            </div>
        </div>
        <div class="row">
            <div class="col py-3 mt-5">
                <h3 class="title-class">Social Media</h3>
            </div>
        </div>
        <div class="row social-tile">
            <div class="col-12 col-md-3 col-sm-6 py-3">
                <a href="https://www.instagram.com/barbell.gear/?hl=en" target="_blank" class="text-dark">
                    <h5 class="title-class">barbell gear</h5>
                    <img src="{{ MEDIA_URL }}luna_misc_264145842405570_small.jpg" class="img-fluid rounded mx-auto d-block"
                        alt="barbell gear instagram" style="object-fit: fill;">
                </a>
            </div>
            <div class="col-12 col-md-3 col-sm-6 py-3">
                <a href="https://www.instagram.com/the_barbell_gym/?hl=en" target="_blank" class="text-dark">
                    <h5 class="title-class">barbell gym</h5>
                    <img src="{{ MEDIA_URL }}bb_insta.JPG" class="img-fluid rounded mx-auto d-block"
                        alt="barbell gym instagram" style="object-fit: fill;">
                </a>
            </div>
            <div class="col-12 col-md-3 col-sm-6 py-3">
                <a href="https://www.facebook.com/GavinSmithFit" target="_blank" class="text-dark">
                <h5 class="title-class">Gavin Smith Facebook</h5>
                <img src="{{ MEDIA_URL }}gavin_smith_fb.jpg" class="img-fluid rounded mx-auto d-block"
                    alt="gavin smith pt facebook" style="object-fit: fill;">
                </a>
            </div>
            
            <div class="col-12 col-md-3 col-sm-6 py-3">
                <a href="https://www.instagram.com/camwallacefitness/" target="_blank" class="text-dark">
                <h5 class="title-class">Cam Wallace Fitness</h5>
                <img src="{{ MEDIA_URL }}cam_logo_insta.jpg" class="img-fluid rounded mx-auto d-block"
                    alt="cam wallace pt instagram" style="object-fit: fill; width: 250px;">
                </a>
            </div>
        </div>
    </section>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="title-class">location</h3>
        </div>
    </div>
    <section class="container-fluid pt-5 px-0" style="border: solid 2px black;">
        <div class="row">
            <div class="col-12">
                <h4 class="title-class pb-3">Address</h4>
                <address>
                    <h5>
                        The Barbell Gym (The Wolf Pit)<br>
                        Factory Road<br>
                        Bathgate<br>
                        West Lothian<br>
                        EH48 2RX<br>
                    </h5>
                </address>
            </div>
        </div>
            <!-- responsive class from https://blog.duda.co/responsive-google-maps-for-your-website-->
        <div class="row pb-5">
            <div class="col-12 map-responsive">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8949.16088787261!2d-3.654656632056064!3d55.89232583666121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x190fbe0db1bb83ee!2sThe%20Barbell%20Gym%20(The%20Wolf%20Pit)!5e0!3m2!1sen!2suk!4v1613239812320!5m2!1sen!2suk"
                    style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        </div>
    </section> 
    <a class="btn btn-primary btn-dark" id="btn-to-top" href="#top" role="button">
        <i class="fas fa-chevron-up"></i>
    </a>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    
{% endblock %}